@font-face {
  font-family: LightFont;
  src: url(fonts/TitilliumWeb-Light.ttf);
}

/*
Styles mainly for the navigation bar to start with
*/

body {
  margin: 0;
  overflow-x: hidden;
  background: rgb(157,183,212);
  background: radial-gradient(circle, rgba(157,183,212,1) 13%, rgba(248,254,255,1) 100%);
  height: 100vh;
}

header {
  background-color: #282f3b;
  width: 100%;
  height: 70px;
  padding-top: 10px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
  text-decoration: none;
}

.navCenterWrapper {
  height: 60px;
  width: 95%;
  margin-left: 2.5%;
}

.navName {
  font-family: LightFont;
  font-size: 40px;
  color: #DDDDDD;
  float: left;
  cursor: pointer;
  font-weight: bold;
}

.navContact {
  font-family: LightFont;
  font-size: 38px;
  color: #DDDDDD;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  cursor: pointer;
}

.navCenterLinks {
  height: 100%;
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: space-between;
}

.navLinks {
  font-family: LightFont;
  font-size: 28px;
  padding-top: 7px;
  color: #DDDDDD;
  transition: color 0.1s ease-out;
  cursor: pointer;
}

.navLinks:hover {
  color: #636e82;
}

/*
Styles for the Home page
*/

.homeMainWrapper {
  background-color: #495466;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
}

.homeName {
  font-family: LightFont;
  font-size: 64px;
  color: #DDDDDD;
  text-align: center;
}

.homeDescription {
  font-family: LightFont;
  font-size: 36px;
  color: #DDDDDD;
  text-align: center;
}

/*
Styles for the about page
*/

.aboutMeTitle {
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  font-family: LightFont;
  color: #DDDDDD;
}

.aboutMainWrapper {
  background-color: #495466;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 50px;
  border-radius: 25px;
  margin-bottom: 50px;
  padding: 20px 20px 20px 20px;
}

.aboutSubtitles {
  font-family: LightFont;
  font-size: 36px;
  color: #DDDDDD;
  font-weight: bold;
}

.titleWrapper {
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.aboutText, ul{
  font-family: LightFont;
  font-size: 24px;
  color: #DDDDDD;
}

.flexBox {
  display: flex;
  width: 100%;
}

.flexchild {
  width: 100%;
}

.listWrapper {
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

/*
Tutoring styles
*/

.tutoringFlexBox {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-between;
}

.tutoringSubject {
  width: 100%;
  height: 180px;
  background-color: #495466;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 10px;
  font-family: LightFont;
  font-size: 36px;
  color: #DDDDDD;
  text-align: center;
  cursor: pointer;
}

.tutoringSubjectTitle {
  width: 75%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: LightFont, sans-serif;
  color: #DDDDDD;
  text-align: center;
}

.tutoringButtons {
  font-family: LightFont;
  font-size: 48px;
  color: #DDDDDD;
  width: 100%;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.tutoringButtons:hover {
  background-color: #282f3b;
}

/*
Styles for the projects
*/

.cssgrid {
  display: grid;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #495466;
  font-size: 3rem;
  color: #DDDDDD;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 200px;
  width: 100%;
  transition: all 200ms;
  border-radius: 10px;
  cursor: pointer;
  font-family: LightFont;
  text-align: center;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

/*
Below are the mobile view styles
*/

/*
Styles for the mobile nav bar
*/

.mobileNavLinks {
  display: none;
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  text-align: center;
  justify-content: space-between;
  font-family: LightFont;
  font-weight: bold;
  font-size: 48px;
  color: #DDDDDD;
  box-sizing:border-box;
}

.mobileNavLinksWrapper {
  width: 100%;
  flex: 1;
  text-align: left;
  cursor: pointer;
}

.mobileNameContainer {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  text-align: center;
  font-family: LightFont;
  font-weight: bold;
  font-size: 48px;
  color: #DDDDDD;
}

#mobileNavBar {
  width: 0%;
  height: 100vh;
  position: absolute;
  transition: width 0.5s ease-in-out;
  background-color: #282f3b;
  opacity: 0.9;
  text-align: center;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {

  /*
  Mobile styles for the nav bar
  */

  .mobileNavLinks {
    display: flex;
  }

  .navCenterWrapper {
    display: none;
  }

  /*About page*/

  .aboutMainWrapper {
    width: 80%;
    margin-left: 10%;
    box-sizing:border-box;
  }

  .flexBox {
    flex-direction: column;
  }

  .tutoringFlexBox {
    flex-direction: column;
  }

  .tutoringSubject {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .aboutMainWrapper {
    width: 90%;
    margin-left: 5%;
  }

  .tutoringButtons {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .navLinks {
    display: inline-block;
    font-size: 36px;
  }

  #mobileNavBar {
    display: flex;
  }

}

@media screen and (max-width: 500px) {
  .mobileNameContainer {
    padding-top: 5px;
    font-size: 36px;
  }
  .listWrapper {
    width: 80%;
    margin-left: 10%;
  }
  .homeMainWrapper {
    width: 80%;
  }
  .homeName {
    font-size: 48px;
  }
  .homeDescription {
    font-size: 24px;
  }
  .aboutSubtitles {
    font-size: 24px;
  }
}
